/* sections */

/* NOTE: We have to manually set margin to 0 to cover the whole background of the page */
/* If we don't do this it will have gaps in the page */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.top-section {
  background-color: #4e8397;
  height: 400px;
  display: column;
  flex-direction: row;
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
}

/* lists  */

.middle-section-header {
  margin-bottom: 40px;
  border: solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}

.middle-section {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image-gallery {
  border-style: solid;
  border-width: 4px;
  border-radius: 30px;
  border-color: #0081cf;
  display: flex;
  margin: 10px;
  height: 160px;
  width: 160px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* headers  */

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 26px;
}

h2 {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

.headers {
  height: 25%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header-items {
  flex-basis: 15%;
  margin: 8px;
}

.header-logo {
  flex-basis: 55%;
  margin: 15px;
}

.opening-header {
  margin-top: 15px;
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 70%;
}

.opening-header .opening-image {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  margin-right: 25%;
  object-fit: cover;
  align-self: center;
}

.opening-text {
  margin-left: 25%;
  height: 95%;
  flex-direction: row;
  align-content: center;
}

.opening-text h1 {
  flex-flow: column wrap;
  width: 98%;
}

.opening-text p {
  margin: 0;
  font-size: 14px;
  flex-flow: row wrap;
  width: 400px;
}

/* inspirational  */

.inspirational-quote {
  background-color: darkgrey;
  margin-top: 15%;
  height: 33.33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  border-top: 1px solid #ddd;
}

.quote-text {
  margin-bottom: 0;
  width: 75%;
  font-size: 20px;
  font-size: 24px;
}

.quote-author {
  margin: 0;
  flex-direction: row;
  align-self: center;
  text-align: right;
  /* border: 4px solid green; */
  font-size: 22px;
  width: 75%;
}

/* cta section */

.call-to-action {
  height: 50%;
  display: flex;
  background-color: white;
  flex-direction: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.b-box {
  border-style: solid;
  border-width: 20px;
  border-radius: 10px;
  border-color: #0081cf;
  background-color: #0081cf;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.cta-text {
  align-content: center;
}

.b-box .cta-text p b {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.b-box .cta-text p {
  margin-bottom: 0;
  margin-top: 0;
}

.cta-button {
  align-content: center;
}

.b-box .cta-button p {
  border-style: solid;
  border-width: 12px;
  border-radius: 10px;
  border-color: white;
  background-color: white;
}
